[submodule "Day 2 Basics of static site generators/starter examples/hugo-example/themes/paper"]
	path = Day 2 Basics of static site generators/starter examples/hugo-example/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
